table {
  width: 100%;
}

.status-dot {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin: 0 .8em -.2em 0;

  &.green {
    background-color: green;
  }

  &.red {
    background-color: red;
  }
}
