<div class="container my-6">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td width="50" mat-cell *matCellDef="let site">
        <div class="status-dot" [ngClass]="{'green': site.status, 'red': !site.status}"></div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let site">
        <a href="{{ site.url }}">{{ site.title }}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
